# Python
__pycache__/
*.pyc
venv/
.venv/

# OS
.DS_Store

# IDE
.idea/

# Documentation
build/
docs/CHANGELOG.md
docs/CONTRIBUTING.md

# Plugins, QGIS-plugin-CI
cadastre.*.zip

# Temp files
*~
*.bak

# VSCode
*.code-workspace
