stages:
- build
- deploy
- release

variables:
    FACTORY_PRODUCT_NAME: cadastre
    FACTORY_PACKAGE_NAME: qgis_cadastre
    FACTORY_PACKAGE_TYPE: plugin
    FACTORY_MANIFEST: ".lizcloud/factory.manifest"

build_3:
  stage: build
  script:
    - make -C .lizcloud -f factory.mk package
  environment:
    name: snap
  artifacts:
    paths:
      - ".lizcloud/factory.manifest"
  tags:
    - infrav3

deploy_snap_3:
  stage: deploy
  script:
    - $FACTORY_SCRIPTS/deploy-package $FACTORY_PACKAGE_NAME
  environment:
    name: snap
  tags:
    - infrav3

release_prod_3:
  stage: release
  script:
    - $FACTORY_SCRIPTS/release-package $FACTORY_PACKAGE_NAME
  environment:
    name: production
  when: manual
  only:
    - tags
  tags:
    - infrav3


build_2:
  stage: build
  script:
    - make  -C .lizcloud -f fabric.mk package
  environment:
    name: snap
  tags:
    - fabric

deploy_snap_2:
  stage: deploy
  script:
    - sudo -u fabric fab snap deploy:qgis3_cadastre,force=true
  environment:
    name: snap
  tags:
    - fabric

release_prod_2:
  stage: release
  script:
    - sudo -u fabric fab prod release:qgis3_cadastre
  environment:
    name: production
  when: manual
  only:
    - tags
  tags:
    - fabric
